p {
  margin: 0;
}
.card-container {
  width: 400px;
  height: 700px;
  border: black solid 2px;
  background-color: #ffcc00;
  border-radius: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 12px 20px 1px rgba(0, 0, 0, 0.8);
}

.background-bug {
  background-color: orange;
  background-image: url("../images/bug.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-dark {
  background-color: rgb(117, 115, 111);
  /* background-image: url("./images/darkness.png"); */
}
.background-dragon {
  background-color: orange;
  background-image: url("../images/dragon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-dream {
  background-color: orange;
  background-image: url("../images/dream.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-electric {
  background-color: rgb(251, 194, 8);
  background-image: url("../images/electric.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-fairy {
  background-color: orange;
  background-image: url("../images/fairy.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-fighting {
  background-color: orange;
  background-image: url("../images/fighting.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-fire {
  background-color: orange;
  background-image: url("../images/fire.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-flying {
  background-color: orange;
  background-image: url("../images/flying.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-ghost {
  background-color: orange;
  background-image: url("../images/ghost.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-grass {
  background-color: orange;
  background-image: url("../images/grass.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-ground {
  background-color: orange;
  background-image: url("../images/ground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-ice {
  background-color: orange;
  background-image: url("../images/ice.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-normal {
  background-color: orange;
  background-image: url("../images/normal.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-poison {
  background-color: orange;
  background-image: url("../images/poison.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-psychic {
  background-color: orange;
  background-image: url("../images/psychic.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-rock {
  background-color: orange;
  background-image: url("../images/rock.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-steel {
  background-color: orange;
  background-image: url("../images/steel.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-water {
  background-color: orange;
  background-image: url("../images/water.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-face {
  margin: auto;
  width: 94%;
  height: 95%;
  border: solid 1px black;
}

.card-header {
  width: 100%;
  text-align: start;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.card-img-container {
  position: relative;
  background-color: green;
  background-image: url("https://cutewallpaper.org/21/pokemon-card-backgrounds/Best-48-TCG-Background-on-HipWallpaper-TCG-Wallpaper-TCG-.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 93%;
  justify-self: center;
  border: solid black 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card-img img {
  width: 220px;
}

.pokemon-measurements {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: yellow;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: space-around;
  letter-spacing: 1px;
  align-items: center;
  margin-top: 15px;
  font-size: 1.2rem;
}

.stats span {
  font-weight: bold;
}
.moves strong {
  text-transform: capitalize;
}

.card-content {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  height: 60%;
}
.moves {
  width: 99%;
  margin-top: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  align-items: center;

  background-color: rgba(255, 230, 0, 0.2);
  padding: 5px;
}

.moves p {
  font-family: Arial, Helvetica, sans-serif;
}
.moves p:last-child {
  margin-top: 20px;
}

/*Back card face*/

.card-container-back {
  margin: auto;
  width: 400px;
  height: 700px;
  border: black solid 2px;
  background-color: #032f7e;
  border-radius: 14px;
  position: relative;
  display: flex;
  box-shadow: 8px 12px 12px 1px #222;
}

.card-back {
  margin: auto;
  width: 370px;
  height: 650px;
  border: solid 1px black;
  background-color: orange;
  background-image: url("https://i.imgur.com/YfRarvn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 700px) {
  .alt-header,
  #header {
    width: 90%;
  }

  .card-container {
    width: 240px;
    height: 350px;
    border: black solid 2px;
  }

  .card-container-back {
    margin: auto;
    width: 240px;
    height: 350px;
  }

  .card-back {
    margin: auto;
    width: 210px;
    height: 300px;
    border: solid 1px black;
  }
  .pokemon-measurements {
    font-size: 0.5rem;
  }

  .card-img img {
    width: 90px;
  }

  .moves {
    font-size: 0.6rem;
    width: fit-content;
  }
  .stats {
    font-size: 0.7rem;
  }

  .pokemon-name {
    font-size: 1rem;
  }

  .moves p:last-child {
    margin-top: 5px;
  }
}
