.search-form {
  width: 600px;
  display: flex;
  font-size: 1.2rem;
}

.search-input {
  width: 500px;
  padding: 15px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: none;
  border: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.39);
  font-weight: bold;
}

.search-btn {
  padding: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  outline: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.349);
  cursor: pointer;
  background-color: #1b4ef6;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
}

.search-btn:focus {
  outline: none;
}
.search-btn:hover {
  transform: scale(0.97);
  background-color: #2b55dd;
}

@media (max-width: 700px) {
  .search-form {
    width: 300px;
    display: flex;
    font-size: 1.2rem;
    margin: 0 auto;
  }

  .search-input {
    width: 200px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}
